body {
    background-image: url("https://iili.io/K8SiKmb.jpg");
    background-color: rgb(128, 153, 169);
    font-family: monospace;
    margin:0;
   
}

header{
    height: 100px;
    background-color: darkgoldenrod;
    padding:10px;
}
h1 {
    color: rgb(255, 255, 255);
    
    width: 100%;
}

h3{
    color: rgb(70, 68, 58);
}

ul{
    padding-left: 200px;
}

ol{
    font-size: 30px;
    padding: 5px;
}


a{
    color: rgb(118, 25, 97);
}

h2{
    color: rgb(70, 68, 58);
}

#name{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0 15px;
}


