body {
    background-color: rgb(128, 153, 169);
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

header{
    height: 100px;
    background-color: darkgoldenrod;
    padding:10px;
}
h1 {
    color: rgb(255, 255, 255);
    
    width: 100%;
}

h3{
    color: rgb(236, 196, 48);
}


a{
    color: rgb(118, 25, 97);
}

h2{
    color: white;
}

#name{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0 15px;
}


